/* Page d'accueil */

/* couleurs principales du site */
:root {
    --vert: #0b7a69;
    --clair: #8abbb4;
    --orange: #ff6200;
    --jaune: #ffcb05;
}

/* section 1 */
.lead {
    font-size: 1.75rem;
    font-weight: bold;
}

.hero-banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    text-align: center;
    overflow: hidden;
    padding: 2rem;
}
.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#031715d2, #031715d2), url('/images/fond-couture.webp'); background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 80%;
    z-index: 1;
}

.hero-banner .position-relative {
    z-index: 2;
    position: relative;
    color: white;
}

/* section 2 */
h2 a {
    transition: color 0.3s ease;
    color: var(--vert);
    text-decoration: none;
}
h2 a:hover {
    color: #333;
}

.btn-section2 {
    color: var(--vert);
    border-color: var(--vert);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-section2:hover {
    background-color: var(--vert);
    color: white;
}

/* section 3 */
.custom-bg {
    background-color: var(--clair);
}

.leadsection3 {
    color: #333;
    font-weight: bold;
}
.leadsection3 a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

.leadsection3 a:hover {
    color: #333;
}