/* Réservation */
:root {
    --vert: #0b7a69;
    --clair: #8abbb4;
    --orange: #ff6200;
    --jaune: #ffcb05;
}

/* formulaire */
.bg-infos {
    background-color: var(--orange);
}

.bg-jaune {
    background-color: var(--jaune);
    color: #333;
}
.btn-enregistrer {
    border: none;
    max-width: 500px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--orange);
    color: var(--orange);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-enregistrer:hover {
    background-color: var(--orange);
    color: white;
    border-color: var(--orange);
}

.textsm {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    font-weight: 600;
}

/* voir réservations */
.btn-reserverobjet {
    border: none;
    border-radius: 5px;
    border: 1px solid var(--jaune);
    background-color: #ffcb05;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.btn-reserverobjet:hover {
    background-color: var(--orange);
    color: white;
    border-color: var(--orange);
}

.btn-detail{
    border: none;
    border-radius: 5px;
    border: 1px solid var(--vert);
    color: var(--vert);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.btn-detail:hover {
    background-color: var(--vert);
    color: white;
    border-color: var(--vert);
}

.label-custom3 {
    background-color: var(--clair);
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    color: #333;
    font-weight: bold;
    font-size: small
}